#FFD6D8#FFD6D8#FFD6D8.lead,
b,
strong {
    font-weight: 700#ECECEC#ECECEC#ECECECececec;
}
.btn-group,
.btn-group > .btn,
.checkbox,
.collapsing,
.dropdown,
.dropup,
.embed-responsive,
.list-group-item,
.nav > li,
.nav > li > a,
.navbar,
.navbar-toggle,
.pagination > li > a,
sup {
    position: relative;
}
.btn,
.checkbox label,
[role="button"] {
    cursor: pointer;
}
.btn,
.btn-danger:active,
.btn-default:active,
.btn-info:active,
.btn-primary:active,
.btn-success:active,
.btn:active,
.form-control,
.navbar-toggle,
.open > .dropdown-toggle.btn-danger,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-info,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-success,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-group > .btn,
.col-xs-10,
.col-xs-12,
.col-xs-2,
.dropdown-menu,
.navbar-brand {
    float: left;
}
.breadcrumb,
.dropdown-menu,
.nav,
.pager {
    list-style: none;
}
.modal,
.modal-backdrop {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.modal-footer .btn-group .btn + .btn,
.pagination > li > a {
    margin-left: -1px;
}
table tr b,
th {
    vertical-align: top;
}
sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    top: -0.5em;
}
.btn,
.btn-group,
.caret,
img {
    vertical-align: middle;
}
hr,
img {
    border: 0;
}
html,
td,
th {
    padding: 0;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin-bottom: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle,
.dropdown-toggle:focus,
.navbar-toggle:focus,
.open > a,
a:active,
a:hover {
    outline: 0;
}
h1 {
    margin: 0.6em 0;
}
img {
    margin-top: 0;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
textarea {
    overflow: auto;
}
b {
    font-size: 1em;
}
button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
address,
body {
    line-height: 1.43;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 10px 0 0;
    line-height: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}
@media print {
    blockquote,
    img,
    tr {
        page-break-inside: avoid;
    }
    * {
        background: 0 0 !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    blockquote {
        border: 1px solid #999;
    }
    thead {
        display: table-header-group;
    }
    img {
        max-width: 100% !important;
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .navbar {
        display: none;
    }
    .btn > .caret {
        border-top-color: #000 !important;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
}
.table,
label {
    max-width: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-family: Roboto, Helvetica, Tahoma, Verdana, Sans-serif;
    font-size: 17px;
    color: #333;
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
}
.text-primary,
a {
    color: #da0008;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
table tr b {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #696;
}
.btn:active:focus,
.btn:focus,
a:focus,
input[type="checkbox"]:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #ddd;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}
h1,
h2,
h3 {
    margin-top: 14px;
    margin-bottom: 10px;
}
.navbar-btn.btn-xs,
h4,
h5 {
    margin-top: 9px;
    margin-bottom: 9px;
}
.lead,
.table,
address,
legend {
    margin-bottom: 18px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h4,
table tr b {
    font-size: 18px;
}
.lead,
h5 {
    font-size: 16px;
}
p {
    margin: 0 0 9px;
}
.lead {
    line-height: 2;
}
address {
    font-style: normal;
}
.small,
small {
    font-size: 87.5%;
    font-weight: lighter;
}
.text-left,
caption,
th {
    text-align: left;
}
.text-right {
    text-align: right;
}
.label,
.pager,
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-danger {
    color: #b94a48;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 9px;
}
@media (min-width: 768px) {
    .lead {
        font-size: 18px;
        font-weight: 300;
    }
    .container {
        width: 750px;
    }
    .col-sm-10,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-8 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
}
table tr b {
    padding: 4px 6px;
    color: #555555;
    background-color: #f0f0f0;
    border-radius: 3px;
    font-weight: 400;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 2px;
    padding-right: 5px;
}
@media (min-width: 992px) {
    .container {
        width: 970px;
        margin-top: 0;
    }
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8 {
        float: left;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .modal-lg {
        width: 900px;
    }
}
.form-horizontal .form-group,
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-8,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-sm-10,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-8,
.col-xs-10,
.col-xs-12,
.col-xs-2 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.btn,
.form-control {
    padding: 8px 12px;
    line-height: 1.42857143;
}
.btn-block,
.col-xs-12,
.table,
legend {
    width: 100%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
@media (min-width: 1230px) {
    .container {
        width: 1208px;
    }
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-8 {
        float: left;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #666;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > th {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
    padding: 3px;
}
.table-hover > tbody > tr:hover {
    background-color: #f9f9f9;
}
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 13.5px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > thead > tr > th {
        white-space: nowrap;
    }
}
fieldset,
legend {
    padding: 0;
    border: 0;
}
fieldset {
    margin: 0;
    min-width: 0;
}
legend {
    display: block;
    font-size: 19.5px;
    line-height: inherit;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}
label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control {
    font-size: 14px;
    color: #333;
    display: block;
    font-weight: 700;
    width: 100%;
    height: 36px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn,
.checkbox label,
body,
label,
th {
    font-weight: 400;
    padding-top: 0;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #ccc;
}
.form-control::-webkit-input-placeholder {
    color: #ccc;
}
.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}
textarea.form-control {
    height: auto;
}
.form-group {
    margin-bottom: 15px;
}
.checkbox,
.help-block {
    display: block;
    margin-bottom: 10px;
}
.checkbox {
    margin-top: 10px;
}
.checkbox label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
}
.checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
}
.help-block {
    margin-top: 5px;
    color: #7d7d7d;
}
.form--horizontal .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
}
.form-horizontal .checkbox {
    min-height: 27px;
}
.btn {
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    white-space: normal;
    font-size: 13px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-block,
.collapse.in,
.nav > li,
.nav > li > a,
.navbar-brand > img,
.open > .dropdown-menu {
    display: block;
}
.btn:focus,
.btn:hover {
    color: #555;
    text-decoration: none;
}
.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled {
    cursor: not-allowed;
    opacity: 0.65;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
    background-image: -webkit-linear-gradient(270deg, #fff 100%, red 100%);
    background-image: -moz-linear-gradient(270deg, #fff 100%, red 100%);
    background-image: -o-linear-gradient(270deg, #fff 100%, red 100%);
    background-image: linear-gradient(180deg, #fff 100%, red 100%);
    border-color: #bbb;
}
.btn-default {
    color: #fff;
    background-color: #474949;
}
.btn-default:focus {
    color: #fff;
    background-color: #e6e8e8;
    border-color: #080808;
}
.btn-default:active,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #2e2f2f;
    border-color: #292a2a;
}
.btn-default:active:focus,
.btn-default:active:hover,
.open.dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #2e2f2f;
    border-color: #080808;
}
.btn-primary {
    color: #fff;
    background-color: #d9230f;
}
.btn-primary:focus {
    color: #fff;
    background-color: #a91b0c;
    border-color: #621007;
}
.btn-primary:active,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #a91b0c;
    border-color: #a01a0b;
}
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #881609;
    border-color: #621007;
}
.btn-success {
    color: #fff;
    background-color: #696;
}
.btn-success:focus {
    color: #fff;
    background-color: #5c905e;
    border-color: #0d1b01;
}
.btn-success:active,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #5c905e;
    border-color: #2b5a05;
}
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #1f4204;
    border-color: #0d1b01;
}
.btn-info {
    color: #fff;
    background-color: #029acf;
}
.btn-info:focus {
    color: #fff;
    background-color: #02749c;
    border-color: #013c51;
}
.btn-info:active,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #02749c;
    border-color: #016d92;
}
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #015a79;
    border-color: #013c51;
}
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #79377c;
    border-color: #723475;
}
.open > .dropdown-toggle.btn-warning.focus,
.open > .dropdown-toggle.btn-warning:focus,
.open > .dropdown-toggle.btn-warning:hover {
    color: #fff;
    background-color: #612c63;
    border-color: #452047;
}
.btn-danger {
    color: #fff;
    background-color: #d9831f;
}
.btn-danger:focus {
    color: #fff;
    background-color: #ac6819;
    border-color: #69400f;
}
.btn-danger:active,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ac6819;
    border-color: #a36317;
}
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: #8d5514;
    border-color: #69400f;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #d9230f;
    background-color: transparent;
}
.btn-lg {
    padding: 14px 16px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-sm,
.btn-xs {
    line-height: 1.5;
    border-radius: 3px;
    font-size: 12px;
}
.btn-sm {
    padding: 5px 10px;
}
.btn-xs {
    padding: 1px 5px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in,
.opaque:hover,
a:hover img,
table tr:hover b,
table tr:hover img {
    opacity: 1;
}
.collapse {
    display: none;
}
tr.collapse.in {
    display: table-row;
}
tbody.collapse.in {
    display: table-row-group;
}
.collapsing {
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1px;
    border-top: 9px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857143;
    white-space: nowrap;
    clear: both;
    font-weight: 400;
    color: #444;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #d9230f;
}
.dropup .caret {
    border-top: 0;
    border-bottom: 8px dashed;
    content: "";
}
.breadcrumb > li,
.btn-group,
.pagination {
    display: inline-block;
}
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover {
    z-index: 2;
}
.btn .caret,
.btn-group > .btn:first-child,
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
}
.nav > li > a {
    padding: 10px 15px;
}
.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #ddd;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #ddd;
    border-color: #d9230f;
}
.navbar {
    min-height: 50px;
    margin-bottom: 18px;
    border-style: solid;
    border-width: 1px;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.embed-responsive,
.modal,
.modal-open {
    overflow: hidden;
}
.container > .navbar-collapse,
.container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-brand {
    padding: 11px 15px;
    font-size: 14px;
    line-height: 18px;
    height: 40px;
}
.close,
.label {
    font-weight: 700;
    line-height: 1;
}
.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}
.navbar-toggle {
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
.navbar-nav {
    margin: 5.5px -15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}
.breadcrumb,
.pagination {
    border-radius: 4px;
}
.label,
.pager li,
.pagination > li {
    display: inline;
}
.btn .badge,
.btn .label {
    top: -1px;
    position: relative;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar-btn {
    margin-top: 2px;
    margin-bottom: 2px;
}
.navbar-btn.btn-sm {
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-text {
    margin-top: 11px;
    margin-bottom: 11px;
}
.navbar-default {
    background-color: #fff;
    border-color: #ccc;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
a.list-group-item {
    color: #555;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #696;
}
.navbar-default .navbar-collapse,
.panel-default {
    border-color: #ccc;
}
.breadcrumb {
    margin-bottom: 15px;
    background-color: transparent;
    padding: 0 8px;
}
.pager,
.pagination {
    padding-left: 0;
    margin: 18px 0;
}
.breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.breadcrumb > .active {
    color: grey;
}
.pagination > li > a {
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:focus,
.pagination > li > a:hover {
    z-index: 2;
    color: #fff;
    background-color: #d9230f;
    border-color: #d9230f;
}
.pagination-sm > li > a {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.label {
    white-space: nowrap;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    color: #fff;
    border-radius: 0.25em;
}
.label-primary {
    background-color: #d9230f;
}
.label-info {
    background-color: #029acf;
}
.label-danger {
    background-color: #d9831f;
}
.list-group {
    margin-bottom: 2px;
    padding-left: 0;
}
.list-group-item {
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 7px 15px;
}
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #555;
}
a.list-group-item:focus,
a.list-group-item:hover {
    text-decoration: none;
    color: #555;
    background-color: #f5f5f5;
}
.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.panel {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 0 12px 8px;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #fdfdfd;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 86%;
    color: #666;
    text-align: justify;
}
.panel-default > .panel-heading {
    color: #444;
    border-color: #ddd;
}
.embed-responsive {
    display: block;
    height: 0;
    padding: 0;
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
    padding-bottom: 75%;
}
.close {
    float: right;
    font-size: 19.5px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.65;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.in,
.opaque {
    opacity: 0.5;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 20px;
}
.modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 6px;
    }
    .navbar-right .dropdown-menu {
        left: auto;
        right: 5px;
    }
    .navbar {
        border-radius: 10px;
    }
    .navbar-header,
    .navbar-nav > li {
        float: left;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li > a {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .navbar-right {
        float: right !important;
        margin-right: 5px;
    }
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    content: " ";
    display: table;
}
.container:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
    margin-left: 12px;
}
.pull-left {
    float: left !important;
    margin-right: 10px;
    margin-top: -10px;
}
.visible-xs,
.visible-xs-block,
.visible-xs-inline {
    display: none !important;
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 18px;
    }
    .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #d9230f;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent;
    }
    .visible-xs,
    .visible-xs-block {
        display: block !important;
    }
    .visible-xs-inline {
        display: inline !important;
    }
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
.btn-default,
.btn-default:hover {
    background-image: -webkit-linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-image: -o-linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#4f5151),
        color-stop(6%, #474949),
        to(#3f4141)
    );
    background-image: linear-gradient(#4f5151, #474949 6%, #3f4141);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #2e2f2f;
}
.btn-primary,
.btn-primary:hover {
    background-image: -webkit-linear-gradient(#e72510, #d9230f 6%, #cb210e);
    background-image: -o-linear-gradient(#e72510, #d9230f 6%, #cb210e);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#e72510),
        color-stop(6%, #d9230f),
        to(#cb210e)
    );
    background-image: linear-gradient(#e72510, #d9230f 6%, #cb210e);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #a91b0c;
}
.btn-success,
.btn-success:hover {
    background-image: -webkit-linear-gradient(#4da309, #696 6%, #3f8507);
    background-image: -o-linear-gradient(#4da309, #696 6%, #3f8507);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#4da309),
        color-stop(6%, #696),
        to(#3f8507)
    );
    background-image: linear-gradient(#4da309, #696 6%, #3f8507);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #5c905e;
}
.btn-info,
.btn-info:hover {
    background-image: -webkit-linear-gradient(#02a5de, #029acf 6%, #028fc0);
    background-image: -o-linear-gradient(#02a5de, #029acf 6%, #028fc0);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#02a5de),
        color-stop(6%, #029acf),
        to(#028fc0)
    );
    background-image: linear-gradient(#02a5de, #029acf 6%, #028fc0);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #02749c;
}
.btn-danger,
.btn-danger:hover {
    background-image: -webkit-linear-gradient(#e08b27, #d9831f 6%, #cc7b1d);
    background-image: -o-linear-gradient(#e08b27, #d9831f 6%, #cc7b1d);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#e08b27),
        color-stop(6%, #d9831f),
        to(#cc7b1d)
    );
    background-image: linear-gradient(#e08b27, #d9831f 6%, #cc7b1d);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #ac6819;
}
th {
    color: #333;
}
.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}
.opaque {
    position: relative;
    right: 0;
}
@media (max-width: 480px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
}
.borderless td,
.borderless th {
    border: none !important;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
